In [2]:
customers=[
    {
        "cid":12,
        "cname":"ali"
        
    },
    {
        "cid":2,
        "cname":"Ahmed"
        
    },
    {
        "cid":3,
        "cname":"bilal"
        
    },
]

In [3]:
customers

[{'cid': 12, 'cname': 'ali'},
 {'cid': 2, 'cname': 'Ahmed'},
 {'cid': 3, 'cname': 'bilal'}]

In [8]:
customer_in=customers[0]

In [9]:
customer_in

{'cid': 12, 'cname': 'ali'}

In [10]:
customer_in["cid"]

12

In [19]:
customers_details={
    1: {
        "firstname":"ali",
        "lastname" :"ahmed",
        "adress" : "c-9",
    },
    2 :{
        "firstname":"nadeem",
        "lastname" :"ahmed",
        "adress" : "c-10",
    }
}

In [20]:
len(customers_details)

2

In [21]:
new_customers={"customer id": 9,
"first name": "waleed",
"last name": "malik",
"address": "a-55",}

In [22]:
customers_details[1]["lastname"]

'ahmed'

In [25]:
t=[32]
[round((x-32)*5/9) for x in t]

[0]

In [26]:
w="hello" 
v=('a', 'e', 'i', 'o', 'u')

In [27]:
 [x for x in w if x in v]

['e', 'o']

In [30]:
for i in range(1, 101): 
     if int(i*0.5)==i*0.5: 
            print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [31]:
1*0.5

0.5

In [33]:
int (1*0.5)

0

In [34]:
2*0.5

1.0

In [35]:
int(2*0.5)

1

In [36]:
1==1.0

True

In [40]:
{i for i in range(1, 100) if int(i*0.5)==(i*0.5)}

{2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98}

In [41]:
[(2**x) for x in range(0, 13)]

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024, 2048, 4096]

In [42]:
[(x**2) for x in range(1, 13)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144]

In [43]:
[(2**x) for x in range(1, 13)]

[2, 4, 8, 16, 32, 64, 128, 256, 512, 1024, 2048, 4096]

In [45]:
 [(x**2) for x in range(0, 13)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144]

In [47]:
print ('\x97\x98')



In [74]:
str1="helloworld"
str1[:2]
str1

'helloworld'

In [49]:
str1="abcd"

In [55]:
str1[-5]

IndexError: string index out of range

In [66]:
str1.ascii_letters

AttributeError: 'str' object has no attribute 'ascii_letters'

In [71]:
x = 'abcd'
for i in range(len(x)):
        print(x)
        x = 'a'

abcd
a
a
a

In [72]:
print (r"\nhello")

\nhello

In [77]:
names1 = ['Amir', 'Bear', 'Charlton', 'Daman']
names2 = names1
names3 = names1[:]
 
names2[0] = 'Alice'
names3[1] = 'Bob'
 
sum = 0
for ls in (names1, names2, names3):
     if ls[0] == 'Alice':
        sum += 1
     if ls[1] == 'Bob':
        sum += 10

print(sum)

SyntaxError: invalid character in identifier (<ipython-input-77-208afa100a8a>, line 4)