In [2]:
 list1 = [4, 2, 2, 4, 5, 2, 1, 0]

In [22]:
list1[-8]

4

In [26]:
names = ['Amir', 'Bear', 'Charlton', 'Daman']
print(names[-2][3])

r

In [27]:
name1=['Amir','ali','ahmed']
name2=name1
name2[1]='BOb'

In [28]:
print(name1)

['Amir', 'BOb', 'ahmed']

In [94]:
names1 = ['Amir', 'Bear', 'Charlton', 'Daman']
names2 = names1
names3 = names1[:]
names2[0] = 'Alice'
names3[1] = 'Bob'
sum = 0
for ls in (names1,names2,names3):
    if ls[0] == 'Alice':
         sum += 1
    if ls[1] == 'Bob':
         sum += 10
    
print(sum)
print(names2[1])

12
Bear

In [63]:
names1

['Alice', 'Bear', 'Charlton', 'Daman']

In [79]:
print(names2)

['Alice', 'Bear', 'Charlton', 'Daman']

In [93]:
list1 = [2,11, 44,0,0,23]
list2 = [2,11, 45, 4 ,5,2]
list1 > list2

False